@media (max-width: 768px) { 
    .faq {
        padding: 5px;
        min-height: 200px;
    }

    .faq .homem-azul {
        margin-top: 16%;
        margin-left: 10%;
        width: 220px;
    }

    .faq .duvidas .lista-de-perguntas .titulo {
        font-size: 20px;
    }

    .faq .duvidas .lista-de-perguntas .item .pergunta {
        font-size: 14px;
    }

    .faq .duvidas .lista-de-perguntas .item .resposta {
        font-size: 14px;
        font-weight: 400;
    }

 } 