body {
    background-color: #e5e5e5;
    font-family: roboto;
}

hr {
    margin-top: 15px;
    opacity: 0.5;    
    width: 95%;
}

hr:last-child {
    border: none;
}

.faq {
    height: 100vh;
    width: 100lvw;
}

.faq .duvidas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.faq .homem-azul {
    position: absolute;
    padding: 14.5% 0 0 20%;
    z-index: 1;
}

.item .pergunta:hover {
    color: #f47c57;
}

.faq .duvidas .lista-de-perguntas {
    background-color: #ffff;
    width: 655px;
    height: 347px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.faq .duvidas .lista-de-perguntas .titulo {
    font-size: 25px;    
    font-weight: 700;
}

.faq .duvidas .lista-de-perguntas .item .pergunta {
    font-size: 17px;
    font-weight: 500;
    background-image: url(../image/seta\ fechada.png);
    background-repeat: no-repeat;
    background-position: 90%;
    margin: 10px 0 5px 0;
    cursor: pointer;
}

.resposta {
    display: none;
    font-size: 15px;
    width: 90%;
}

.faq .duvidas .lista-de-perguntas .item.ativo .resposta{
    display: block;
}

.faq .duvidas .lista-de-perguntas .item.ativo .pergunta {
    background-image: url(../image/seta\ aberta.png);
}



